.subtitle, .paragrafo {
    color: var(--preto);
    display: flex;
    padding: 12px;
    text-align: center;
}

.paragrafo{
    margin: 12px;
}

.containerText{
   display: flex;
   align-items: center;
   justify-content: space-between;
    margin: 2.5rem;
}

